<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>About Malala</h1>
    <p>
      Malala Yousafzai naît le 12 juillet 1997 au Pakistan dans la vallée du
      Swat. Depuis son plus jeune âge, elle est plongée dans le militantisme.
      Son père est lui-même un défenseur du droit à l'éducation. Il a d'ailleurs
      fondé une école, qui sera rebaptisée au nom de la jeune fille plus tard.
    </p>

    <p>
      C'est à l'âge de 11 ans que Malala se fait connaître du grand public.
      Alors qu'elle accompagne son père à une conférence de presse à Peshawar,
      elle dénonce les talibans qui détruisent les écoles et impose la charia.
      Elle poursuit dans cette voie en témoignant de sa vie sous le régime des
      talibans, sous le pseudonyme de Gul Makai, dans un blog publié par la BBC.
    </p>

    <p>
      Son identité serar évélée quelques mois plus tard et elle poursuit son
      combat. En décembre 2011, elle est récompensée du prix national de la
      jeunesse pour la paix, décerné par le Premier ministre pakistanais.
    </p>
  </body>
</html>
