<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1> Welcome to The Good Fight</h1>
    <h2> Get to know the icon of the fight for women's education </h2>
    
    <p>Malala Yousafzai est devenue un symbole international de la lutte pour
        l’éducation des filles après avoir été attaquée en 2012 en raison de son
        opposition aux restrictions imposées par les talibans concernant
        l’éducation des filles dans son pays, le Pakistan.</p>
    <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/works">Works</a></li>
        <li><a href="/photo-gallery">Photos</a></li>
    </ul>
</body>
</html>