<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Works</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Education is a right</h1>
    <p>
      Une éducation de qualité constitue la base nécessaire à l’amélioration des
      conditions de vie des populations et au développement durable. Des progrès
      importants ont déjà été réalisés en ce qui concerne l’amélioration de
      l’accès à tous les niveaux d’éducation et l’augmentation du taux de
      scolarisation, en particulier celui des filles et des femmes.
    </p>
    <p>
      Le monde a atteint l’égalité garçons-filles en termes de scolarisation
      primaire. Cependant, peu de pays sont parvenu à cette égalité à tous les
      niveaux de scolarisation. En outre, 57 millions d’enfants sont encore en
      dehors de tout système scolaire.
    </p>

    <p>
      Des efforts plus importants sont nécessaires pour tteindre les objectifs
      de l’accès universel à l’éducation. En septembre 2015, lors d’un sommet
      historique aux Nations Unies, les leaders mondiaux ont adopté les 17
      Objectifs de développement durable afin de mobiliser les efforts pour
      mettre fin à toute forme de pauvreté, pour combattre les inégalités et
      lutter contre le changement climatique.
    </p>

    <p>
      L’Objectif 4 vise à assurer une éducation inclusive et de qualité pour
      tous et à promouvoir l’apprentissage continu. Un des buts de cet Objectif
      est d’éliminer totalement les disparités entre les sexes dans l’éducation
      d’ici à 2030.
    </p>
  </body>
</html>
